:root {
    --blue: rgb(53, 143, 245);
    --white: #fff;  
    --black: rgb(0, 0, 0);
    --navy: rgb(6, 16, 112);
}

.header h1 {
    display: block;
    text-align: center;
    background-color: var(--navy);
    color: var(--white);
    width: 100%;

}

.body {
    background-color: var(--blue);
}

.quiz {
    margin: auto;
    background-color: var(--white);
    border-style: solid;
    border-color: rgb(0, 0, 0);
    color: var(--black);
    height: 400px;
    width: 500px;
}

.answers {
    padding-left: 15px;
}

.option-button {
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}


.button {
    margin: auto;
    width: 100px;
    padding-top: 20px;
}